<!--functionality to show all the notifications  -->
<div class="user">
  <button (click)="toggleDisplay()" mat-button>All</button><br />
</div>

<!--functionality to show a single notification -->
<button (click)="toggle()" mat-button>Friend1</button><br />
<h1>
  {{ msg }}
</h1>

<!-- functionality to show a single notification-->
<button (click)="toggleShow()" mat-button>Friend2</button><br />
<h1 *ngIf="isShown">
  {{ msg }}
</h1>
<button mat-button>Friend3</button><br />
<h1 [hidden]="isDisplay">{{ msg }}</h1>
<button mat-button>Friend4</button><br />
<h1 [hidden]="isDisplay">{{ msg }}</h1>
<button mat-button>Friend5</button><br />
<h1 [hidden]="isDisplay">{{ msg }}</h1>
