<div class="user">
  <button (click)="toggleDisplay()" mat-button>All</button><br />
</div>
<div id="myDiv">
  <button (onclick)mat-button>Friend1</button><br /></div>
<h1 [hidden]="isDisplay">{{ msg }}</h1>
<button mat-button>Friend2</button><br />
<h1 [hidden]="isDisplay">{{ msg }}</h1>
<button mat-button>Friend3</button><br />
<h1 [hidden]="isDisplay">{{ msg }}</h1>
<button mat-button>Friend4</button><br />
<h1 [hidden]="isDisplay">{{ msg }}</h1>
<button mat-button>Friend5</button><br />
<h1 [hidden]="isDisplay">{{ msg }}</h1>
